.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    text-align: center;
    padding-top: 60px; /* Ajuste para compensar a Navbar fixa */
  }
  
  .about-content {
    max-width: 600px;
  }
  
  .about h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .icons a {
    color: white;
    font-size: 2em;
    transition: color 0.3s;
  }
  
  /* Responsividade */
  
  @media (max-width: 768px) {
    .about-content {
        max-width: 600px;
        padding: 10px;
      }
  
    .about p {
        font-size: 20px;
        margin-bottom: 30px;
    }

  }
  
  @media (max-width: 480px) {
    .about-content {
        max-width: 600px;
        padding: 10px;
      }

    .about p {
        font-size: 20px;
        margin-bottom: 30px;
    }
  }