.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 34%;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites da modal */
  }
  
  /* Slider */
  .modal-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .slider-item {
    display: flex;
    justify-content: center;
  }
  
  .slider-item img {
    width: auto; 
    max-height: 600px; 
  }
  
  /* Botão de Fechar */
  .close-button {
    background: #ff3b30;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
  }

  .slick-initialized .slick-slide{
    display: block;
    padding-left: 100px;
  }

  
  /* Responsividade */
  
  @media (max-width: 768px) {
    .modal-content {
      padding: 10px;
      max-width: 88%;
    }
  
    .modal-image {
      max-height: 100px;
    }
  
    .close-button {
      top: 5px;
      right: 5px;
      font-size: 14px;
      padding: 8px 16px;
    }
    .slider-item img {
        width: auto;
        max-height: 350px;
      }
  }
  
  @media (max-width: 480px) {
    .modal-content {
        padding: 5px;
        max-width: 87%;
        max-height: 90%;
    }
  
    .modal-image {
      max-height: 100px;
    }
  
    .close-button {
      top: 0;
      right: 0;
      font-size: 12px;
      padding: 5px 10px;
    }
    
    .slider-item img {
      width: auto;
      max-height: 350px;
    }

    .slick-initialized .slick-slide{
        display: block;
        padding-left: 90px;
      }

  }
  